<body>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table id="movies">
  <thead>
    <th class=<%=bg_color "title"%>> <%= genLinks "title", "Title"%></th>
    <th class=<%=bg_color "rating"%>> <%= genLinks "rating", "Rating"%> </th>
    <th class=<%=bg_color "description"%>> <%= genLinks "description", "Description"%> </th>
    <th class=<%=bg_color "release_date"%>> <%= genLinks "release_date", "Release Date"%> </th>
    <th> </th>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
  </tbody>
</table>

<div class="buttonbox">
  <button>
    <%= link_to "New movie", new_movie_path %>
  </button>
</div>
</body>